.card {
    height: 275px;
    width: calc (33.333% - 20px);
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 20px;
}

.card:nth-child(3n + 2) {
    margin-right: 20px;
    margin-left: 20px;
}

.card__img img {
    width: 360px;
    height: 275px;
}

.card__name {
    position: absolute;
    bottom: 5px;
    padding-left: 15px;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    font-family: Roboto;
}


